.Barleytea_wrap1 {
  padding-top: 80px;
}
.Barleytea_wrap2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Barleytea1 {
  font-size: 18px;
}
.Barleytea2 {
  font-size: 32px;
  font-weight: 700;
}
.Barleytea3 {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  opacity: 0.8;
}
 @media screen and (max-width:1280px) {
   .Barleytea1{
     font-size:14px;
   }
   .Barleytea2{
     font-size:22px;
   }
   .Barleytea3{
     font-size:10px;
   }
   
 }